<div class="memo">
  <div class="titile">
    <h2> <%= esc(@memo["title"]) %> </h2>
  </div>

  <div class="content">
    <p><%= esc(@memo["content"]) %> </p>
  </div>
</div>
<div class="buttons">
  <div>
    <a href="/memos/<%= @id %>/edit" class="button-a">変更</a>
  </div>
  <div>
    <form method="post" action="/memos/<%= @id %>">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="削除" class="button">
    </form>
  </div>
</div>
