<form action="/memos/<%= @memo[0]["id"] %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <textarea name="title" cols="100" rows="2"><%= @memo[0]["title"] %></textarea>
  <textarea name="content" cols="100" rows="5"><%= @memo[0]["content"] %></textarea>
  <input type="submit" value="変更" class="button">
</form>
