<% if not @memos.nil? and not @memos.empty? %>
<div>
  <ul>
    <% @memos.each do |k,v| %>
    <li>
      <a href="/memo/<%= k %>">
        <%= v["title"] %>
      </a>
    </li>
    <% end %>
  </ul>
</div>
<% end %>
