<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf8">
  <title><%= @title %></title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <div class="container">
    <header>
      <a href="/">
        <div>
          <h1> メモアプリ</h1>
        </div>
      </a>

      <% if @title == "Top" %>
      <input type="button" onclick="location.href='/memo' " value="追加" class="add-button">
      <% end %>

    </header>

    <%= yield %>
  </div>
</body>

</html>
