<form action="/memo" method="post" class="post">
	<textarea name="title" cols="100" rows="2"></textarea>

	<textarea name="content" cols="100" rows="5"></textarea>


	<input type="submit" value="保存" class="button">

</form>
